# vi: syntax=gitconfig noexpandtab
[include]
	# work email and gpg signing
	path = ~/.gitconfig_machine_specific
[core]
	excludesfile = ~/.gitignore_global
[alias]
	amend = ci --amend
	br = branch
	ci = commit -v
	co = checkout
	dci = duet-commit
	di = diff
	ds = diff --staged
	flog = log --pretty=fuller --decorate
	fpush = push --force-with-lease
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	mrnotes = log --reverse --format='%n%n**%s**%n%n%b' origin/HEAD..HEAD
	prnotes = mrnotes
	pullsubs = submodule update --init --recursive
	st = status

	# Not a hater, only trolling a little, I promise... 
	#
	# graphite.dev is a promising product that does a lot more than this alias,
	# but a gitconfig comment really isn't the place for me to expand further on
	# that.
	graphene = rebase --onto origin/HEAD HEAD^
[push]
	default = simple
	autoSetupRemote = true
[pull]
	ff = only
[transfer]
	fsckObjects = false  # TODO couldn't clone oh-my-zsh
[init]
	defaultBranch = main
[log]
	# Greater precision for nearer dates, but only if the pager is in use
	date = auto:human

# git-delta
[core]
	pager = delta
[interactive]
	diffFilter = delta --color-only
[delta]
	navigate = true
	light = false
[merge]
	conflictstyle = diff3
[diff]
	colorMoved = default
[delta]
	side-by-side = true
