# vi: syntax=gitconfig
[include]
	path = ~/.gitconfig_machine_specific
[core]
	excludesfile = ~/.gitignore_global
[alias]
	amend = commit -S -v --amend
	br = branch
	ci = commit -S -v
	co = checkout
	dci = duet-commit
	di = diff
	ds = diff --staged
	flog = log --pretty=fuller --decorate
	fpush = push --force-with-lease
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	prnotes = log --reverse --format='%h: %B' origin/master..HEAD
	pullsubs = submodule update --init --recursive
	st = status
[push]
	default = simple
[pull]
	ff = only
[transfer]
	fsckObjects = false  # TODO couldn't clone oh-my-zsh
