[user]
	name = Craig Furman
	email = craig.furman89@gmail.com
[alias]
	br = branch
	ci = commit -S -v
	co = checkout
	dci = duet-commit
	di = diff
	ds = diff --staged
	flog = log --pretty=fuller --decorate
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	pullsubs = submodule update --init --recursive
	st = status
[push]
	default = simple
[transfer]
	fsckobjects = false # TODO re-enable?
