# Mostly lifted from https://github.com/luan/vimfiles/blob/master/UltiSnips/go.snippets

snippet exen "Gomega Expect(err).NotTo(HaveOccurred())" b
Expect(err).NotTo(HaveOccurred())
endsnippet

snippet exer "Gomega Expect(err).To(HaveOccurred())" b
Expect(err).To(HaveOccurred())
endsnippet
