[Unit]
Description=Disable hissing sound with headphones on Dell XPS 13
After=pulseaudio.service
PartOf=pulseaudio.service

[Service]
Type=oneshot
ExecStart=amixer -c PCH cset 'name=Headphone Mic Boost Volume' 1

[Install]
WantedBy=pulseaudio.service
