<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>backup-home</string>

  <key>ProgramArguments</key>
  <array>
    <string>/opt/homebrew/bin/bash</string>
    <string>-c</string>
    <string>source ~/backup/.envrc; /opt/homebrew/bin/restic --cleanup-cache backup --exclude-file ~/workspace/ansible-home/roles/backup-mac/files/excludes.txt --one-file-system --host lakitu ~</string>
  </array>

  <key>StandardOutPath</key>
  <string>/Users/craig/backup/restic.log</string>

  <key>StandardErrorPath</key>
  <string>/Users/craig/backup/restic.log</string>

  <key>StartCalendarInterval</key>
  <dict>
    <key>Hour</key>
    <integer>11</integer>
    <key>Minute</key>
    <integer>0</integer>
  </dict>
</dict>
</plist>
