[Unit]
Description=Back up home directory
After=network-online.target

[Service]
Type=oneshot
User={{ansible_user}}
EnvironmentFile=/etc/craig-backup/env
ExecStart=restic --cleanup-cache backup \
  --exclude-if-present .backupignore --one-file-system /home/craig

[Install]
WantedBy=multi-user.target
